<div class="advantages">
    <div class="container">
        <div class="advantages__items">
            <div class="advantages__item">
                <div class="advantages__item-logo advantages__item-logo1"></div>
                <div class="advantages__item-text">ОПЫТ РАБОТЫ <br> 11 ЛЕТ</div>
            </div>
            <div class="advantages__item advantages__item2">
                <div class="advantages__item-logo advantages__item-logo2"></div>
                <div class="advantages__item-text">ГАРАНТИЯ НА РАБОТЫ 10 ЛЕТ</div>
            </div>
            <div class="advantages__item advantages__item3">
                <div class="advantages__item-logo advantages__item-logo3"></div>
                <div class="advantages__item-text">УБЕРЕМ ВСЕ ДО ПЫЛИНКИ</div>
            </div>
            <div class="advantages__item advantages__item4">
                <div class="advantages__item-logo advantages__item-logo4"></div>
                <div class="advantages__item-text">ЗАМЕР В ДЕНЬ ОБРАЩЕНИЯ</div>
            </div>
            <div class="advantages__item advantages__item5">
                <div class="advantages__item-logo advantages__item-logo5"></div>
                <div class="advantages__item-text">УСТАНОВКА ЗА <br> 1 ДЕНЬ</div>
            </div>
        </div>
    </div>
</div>