<div id="land_5">
    <div class="offers__header offers__header--sixth fifth">ПРОЧИТАЙТЕ, ПОЧЕМУ НАС ВЫБРАЛИ 2865 КЛИЕНТОВ</div>
    <div class="comments">
        <div class="container">
            <div class="comments__slider">
                <div class="comments__slide">

                    <img class="comments__img" src="images/otzyvy_face_1.jpg" alt="">

                    <div class="comments__text">
                        <p>Марина, Киев:</p>
                        Заказали потолки в "Честных потолках" и не пожалели. Сделали все четко в срок, очень приятные и
                        грамотные менеджер и замерщик. За короткое время произведена установка, все очень чисто и
                        аккуратно.
                        Натяжной потолок скрыл все недостатки предыдущего потолка и визуально даже не уменьшил высоту
                        потолков. Благодарим сотрудников компании, будем рекомендовать вас своим знакомым.
                    </div>
                </div>
                <div class="comments__slide">
                    <img class="comments__img" src="images/otzyvy_face_2.jpg" alt="">

                    <div class="comments__text">
                        <p>Николай, Бровары:</p>
                        Здравствуйте. Заказали натяжные потолки в вашей компании. По итогу результат оправдал все наши
                        ожидания, натяжные потолки сделали очень быстро и не дорого. Думали больше денег уйдет. Будем
                        теперь
                        на кухню у вас заказывать.
                    </div>
                </div>
                <div class="comments__slide">
                    <img class="comments__img" src="images/otzyvy_face_3.jpg" alt="">

                    <div class="comments__text">
                        <p>Гена, Киев:</p>
                        Заказал натяжной потолок в спальню по акции со скидкой 70%, до конца не верил что такое
                        возможно. Но
                        результатом я доволен. Качество отличное, работают славяне. От души ребята! Всем рекомендую!
                    </div>
                </div>
                <div class="comments__slide">
                    <img class="comments__img" src="images/otzyvy_face_4.jpg" alt="">

                    <div class="comments__text">
                        <p>Светлана Кириченко, Белая Церковь:</p>
                        Здравствуйте! Огромное Вам спасибо. Заказали у вас потолок в детскую с фотопечатью, все
                        чистенько и
                        быстро сделали. Очень красивый потолок получился. Отдельное спасибо замерщику Ивану и бригаде
                        монтажников. Еще и хорошие рекомендации дали по освещению)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>