<header class="header-main">
    <h2 class="is-hidden">Натяжные потолки</h2>
    <div class="container">
        <div class="header-main__top">
            <div class="hamburger"></div>
            <div class="logo">
                <a href="index.html" class="logo__top">отличные потолки</a>
                <a href="index.html" class="logo__bottom">установка натяжных потолков в киеве</a>
            </div>
            <a href="#" class="ring-form">мы вам перезвоним</a>
            <a href="tel:+380671111111" class="phone">(067) 111-11-11</a>

        </div>
        <div class="landingMenu">
            <ul class="menu">
                <li class="menu__items" data-link="first">
                    <a href="#land_1" class="menu__items-link" data-target="anchor">Готовые предложения</a>
                </li>
                <li class="menu__items" data-link="second">
                    <a href="#land_2" class="menu__items-link" data-target="anchor">Цены</a>
                </li>
                <li class="menu__items" data-link="third">
                    <a href="#land_3" class="menu__items-link" data-target="anchor">Производство</a>
                </li>
                <li class="menu__items" data-link="forth">
                    <a href="#land_4" class="menu__items-link" data-target="anchor">Работы</a>
                </li>
                <li class="menu__items" data-link="fifth">
                    <a href="#land_5" class="menu__items-link" data-target="anchor">Отзывы</a>
                </li>
                <li class="menu__items" data-link="sixth">
                    <a href="#land_6" class="menu__items-link" data-target="anchor">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</header>
