<main class="hero">
    <h1 class="is-hidden">КАЧЕСТВЕННЫЕ НАТЯЖНЫЕ ПОТОЛКИ</h1>
    <div class="container">
        <div class="hero__header">
            <div class="hero__big-header">
                КАЧЕСТВЕННЫЕ НАТЯЖНЫЕ ПОТОЛКИ
            </div>
            <div class="hero__small-header">
                в Киеве и области за 1 день
            </div>
        </div>
        <div class="hero__container">
            <div class="hero__left">
                <div class="hero__left-install">
                    УСТАНОВКА ПОТОЛКОВ
                </div>
                <div class="hero__left-promo">
                    по акции
                </div>
                <div class="hero__left-before">
                    до
                </div>
                <div class="hero__left-date">
                    20 НОЯБРЯ
                </div>
                <div class="hero__left-discount">
                    по скидке до
                </div>
                <div class="hero__left-discount-value">
                    25%
                </div>
                <div class="hero__left-square">
                    От 70м<sup>2</sup>
                </div>
            </div>
            <div class="hero-center">
                <img src="images/piple.png" alt="">
            </div>
            <div class="hero-right">
                <div class="form">
                    <div class="form__header">
                        <div class="form__calculate">
                            Расчет стоимости<br>
                            НАТЯЖНОГО ПОТОЛКА:
                        </div>
                        <div class="form__description">
                            Введите площадь <br> потолка:
                        </div>
                        <input class="input square" type="number" min="1" maxlength="10" value="10">
                        <div class="form__description">
                            Количество углов:
                        </div>
                        <input class="input quantity" type="number" min="1" maxlength="10" value="4">
                        <div class="form__checkboxes">
                            <div class="form__row"><label>
                                <input class="radio radio1" type="radio" name="radio1" checked value="100">
                                <span class="radio-custom"></span>
                                <span class="label">ПВХ матовый</span>
                            </label></div>
                            <div class="form__row">
                                <label>
                                    <input class="radio radio2" type="radio" name="radio1" value="150">
                                    <span class="radio-custom"></span>
                                    <span class="label">ПВХ сатиновый</span>
                                </label>
                            </div>
                            <div class="form__row">
                                <label>
                                    <input class="radio radio3" type="radio" name="radio1" value="200">
                                    <span class="radio-custom"></span>
                                    <span class="label">ПВХ глянцевый</span>
                                </label>
                            </div>
                        </div>
                        <div class="form__result">
                            <div class="form__sum">
                                ИТОГО:
                            </div>
                            <div class="form__price">

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
