<div class="bg-up-and-down"></div>
<div class="manufacture">
    <div class="container">
        <div class="manufacture-advantage">
            <div class="manufacture-advantage__item">
                <div class="manufacture-advantage__img manufacture-advantage__img1">


                </div>
                <div class="manufacture-advantage__text">
                    <div class="manufacture-advantage__text-header">
                        СОБСТВЕННОЕ ПРОИЗВОДСТВО
                    </div>
                    <div class="manufacture-advantage__text-main">
                        В безупречном внешнем виде и надежности натяжных потолков не сомневаются миллионы людей ,
                        установивших современные конструкции в своих квартирах, магазинах, офисах. Тем не менее, работы
                        установщикам осталось немало, ведь качество нашего жилья известно всем, а капитальный и
                        косметический ремонт – процедура, которую не удалось избежать никому, даже владельцам квартир в
                        новостройках. Современная отделка навсегда освобождает от необходимости заниматься приведением в
                        порядок потолочной поверхности.
                    </div>

                </div>
            </div>
            <div class="manufacture-advantage__item">
                <div class="manufacture-advantage__img manufacture-advantage__img2">

                </div>
                <div class="manufacture-advantage__text">
                    <div class="manufacture-advantage__text-header">
                        СОБСТВЕННЫЙ СКЛАД
                    </div>
                    <div class="manufacture-advantage__text-main">
                        Десятилетний опыт работы, профессиональные сотрудники и новейшие технологии помогают нашей фирме
                        воплощать самые невероятные дизайнерские решения в области отделки потолка. Натяжные потолки
                        одно- и двухуровневые, круглые и угловые, с художественной печатью и системой "звездное небо" -
                        в общем, всевозможных расцветок, видов и размеров.
                    </div>

                </div>
            </div>

        </div>
        <div class="offers__header offers__header--second ">СХЕМЫ КРЕПЛЕНИЙ ПОТОЛКОВ</div>
        <div class="sliider-schemes">
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
        </div>
    </div>
</div>
<div class="bg-up-and-down"></div>