<div id="land_3"><div class="bg-up-and-down"></div>
<div class="manufacture">
    <div class="container">
        <div class="manufacture-advantage third">
            <div class="manufacture-advantage__item">
                <div class="manufacture-advantage__img manufacture-advantage__img1">


                </div>
                <div class="manufacture-advantage__text">
                    <div class="manufacture-advantage__text-header">
                        СОБСТВЕННОЕ ПРОИЗВОДСТВО
                    </div>
                    <div class="manufacture-advantage__text-main">
                        В безупречном внешнем виде и надежности натяжных потолков не сомневаются миллионы людей ,
                        установивших современные конструкции в своих квартирах, магазинах, офисах. Тем не менее, работы
                        установщикам осталось немало, ведь качество нашего жилья известно всем, а капитальный и
                        косметический ремонт – процедура, которую не удалось избежать никому, даже владельцам квартир в
                        новостройках. Современная отделка навсегда освобождает от необходимости заниматься приведением в
                        порядок потолочной поверхности.
                    </div>

                </div>
            </div>
            <div class="manufacture-advantage__item">
                <div class="manufacture-advantage__img manufacture-advantage__img2">

                </div>
                <div class="manufacture-advantage__text">
                    <div class="manufacture-advantage__text-header">
                        СОБСТВЕННЫЙ СКЛАД
                    </div>
                    <div class="manufacture-advantage__text-main">
                        Десятилетний опыт работы, профессиональные сотрудники и новейшие технологии помогают нашей фирме
                        воплощать самые невероятные дизайнерские решения в области отделки потолка. Натяжные потолки
                        одно- и двухуровневые, круглые и угловые, с художественной печатью и системой "звездное небо" -
                        в общем, всевозможных расцветок, видов и размеров.
                    </div>

                </div>
            </div>

        </div>
        <div class="offers__header offers__header--second ">СХЕМЫ КРЕПЛЕНИЙ ПОТОЛКОВ</div>
        <div class="slider-schemes">
            <div class="slider-schemes__slide">
                <img src="images/shemy_krep_1.jpg" alt="">
            </div>
            <div class="slider-schemes__slide">
                <img src="images/shemy_krep_2.jpg" alt="">
            </div>
            <div class="slider-schemes__slide">
                <img src="images/shemy_krep_3.jpg" alt="">
            </div>
            <div class="slider-schemes__slide">
                <img src="images/shemy_krep_4.jpg" alt="">
            </div>
            <div class="slider-schemes__slide">
                <img src="images/shemy_krep_5.jpg" alt="">
            </div>
            <div class="slider-schemes__slide">
                <img src="images/shemy_krep_6.jpg" alt="">
            </div>
        </div>
        <button class="button-call">ВЫЗВАТЬ НА БЕСПЛАТНЫЙ ЗАМЕР</button>
        <div class="additional-works">
            <div class="offers__header offers__header--third ">ДОПОЛНИТЕЛЬНЫЕ РАБОТЫ</div>
            <div class="additional-works__list">
                <div class="additional-works__item">
                    <div class="additional-works__foto"><img src="images/dop_raboty_1.jpg" alt=""></div>
                    <div class="additional-works__text">ОБВОД ТРУБ</div>
                </div>
                <div class="additional-works__item">
                    <div class="additional-works__foto"><img src="images/dop_raboty_2.jpg" alt=""></div>
                    <div class="additional-works__text">ОБХОД ДОПОЛНИТЕЛЬНЫХ УГЛОВ</div>
                </div>
                <div class="additional-works__item">
                    <div class="additional-works__foto"><img src="images/dop_raboty_3.jpg" alt=""></div>
                    <div class="additional-works__text">КРЕПЛЕНИЕ ПОД ЛЮСТРЫ - СВЕТИЛЬНИКИ</div>
                </div>
                <div class="additional-works__item">
                    <div class="additional-works__foto"><img src="images/dop_raboty_4.jpg" alt=""></div>
                    <div class="additional-works__text">МОНТАЖ РЕЗИНОВОЙ ВСТАВКИ</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-up-and-down bg-up-and-down--bottom"></div>

</div>