<div class="offer">
    <div class="container">
        <img class="offer__image" src="images/gotov_4.jpg" alt="">

        <table class="offer__table">
            <caption>Фотопечать на матовом полотне. Детская 15 м2</caption>
            <tr>
                <td class="product">c-Light лаковая 15 м2</td>
                <td class="price">1900 грн.</td>
            </tr>
            <tr>
                <td class="product">Углы 4 шт.</td>
                <td class="price">0 грн.</td>
            </tr>
            <tr>
                <td class="product">Окантовка трубы 1 шт.</td>
                <td class="price">99 грн.</td>
            </tr>
            <tr>
                <td class="product">Профиль 10 м.п.</td>
                <td class="price">500 грн.</td>
            </tr>
            <tr>
                <td class="product">Декоративная потолочная вставка 10 м.п.</td>
                <td class="price">150 грн.</td>
            </tr>
            <tr>
                <td class="product">Установка светильника 8 шт.</td>
                <td class="price">993 грн.</td>
            </tr>
        </table>
    </div>
</div>