<div class="offer">
    <div class="container">
        <img class="offer__image" src="images/gotov_1.jpg" alt="">

        <table class="offer__table">
            <caption>Лаковый белый натяжной потолок с установкой в ванную 13 м2</caption>
            <tr>
                <td class="product">c-Light лаковая 13 м2</td>
                <td class="price">1638 грн.</td>
            </tr>
            <tr>
                <td class="product">Углы 4 шт.</td>
                <td class="price">0 грн.</td>
            </tr>
            <tr>
                <td class="product">Окантовка трубы 1 шт.</td>
                <td class="price">99 грн.</td>
            </tr>
            <tr>
                <td class="product">Профиль 10 м.п.</td>
                <td class="price">500 грн.</td>
            </tr>
            <tr>
                <td class="product">Декоративная потолочная вставка 10 м.п.</td>
                <td class="price">150 грн.</td>
            </tr>
            <tr>
                <td class="product">Установка светильника 4 шт.</td>
                <td class="price">400 грн.</td>
            </tr>
        </table>
    </div>
</div>