<div class="offers__header offers__header--fifth second">ЦЕНЫ НА ПОТОЛКИ - ПО АКЦИИ 1 ДЕКАБРЯ</div>
<div class="offer offer-price">
    <div class="container">

        <table class="offer__table">
            <tr>
                <td class="product">Потолки БЕЛЬГИЯ (без шва)</td>
                <td class="price">130 грн/м2</td>
            </tr>
            <tr>
                <td class="product">Потолки ГЕРМАНИЯ (без шва)</td>
                <td class="price">150 грн/м2</td>
            </tr>
            <tr>
                <td class="product">Потолки ФРАНЦИЯ (без шва)</td>
                <td class="price">170 грн/м2</td>
            </tr>
            <tr>
                <td class="product">Потолки ИСПАНИЯ (без шва)</td>
                <td class="price">190 грн/м2</td>
            </tr>
            <tr>
                <td class="product">Потолки ИТАЛИЯ (без шва)</td>
                <td class="price">210 грн/м2</td>
            </tr>
        </table>
    </div>
</div>