.header-main__top {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 420px;
}

.logo a {
  display: block;
}

.logo__top {
  font-size: 35px;
  font-family: $ff-main-bold;
  text-transform: uppercase;
  padding-top: 10px;
}

.logo__bottom {
  font-family: $ff-main-bold;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-main;
  padding: 5px;
}

.ring-form {
  font-size: 25px;
  text-transform: uppercase;
  font-family: $ff-main-bold;
  line-height: 80px;
  color: $color-main;
  background-color: black;
  padding: 0 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 5px 5px 0px rgba(254, 203, 58, 0.75);
  transition: 0.2s;

}

.ring-form:hover {
  background-color: $color-main;
  color: black;
}

.phone {
  line-height: 80px;
  font-family: $ff-main-bold;
  font-size: 25px;
}

.hamburger {
  display: none;
  border-top: 8px #000 solid;
  border-bottom: 8px #000 solid;
  width: 50px;
  height: 40px;
  cursor: pointer;
  position: relative;
  margin-top: 20px;

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    border-top: 8px #000 solid;
    margin-top: 5px;
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    border-top: 8px #000 solid;
    margin-top: 5px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu__items {
  font-family: $ff-main-bold;
  font-size: 25px;
  display: inline-block;
  padding: 5px 10px;
  background-color: $color-main;
  border-radius: 10px;
  transition: transform 0.2s;
}

.menu__items:hover {
  transform: scale(1.1, 1.1);
  background-color: black;
  color: $color-main;
}

.menu--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  animation: slide-down 0.7s;
  opacity: 0.95;
  z-index: 100;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}

@media (max-width: 1000px) {
  .header-main__top {

    position: fixed;
    left: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    z-index: 9999;
  }
  .hamburger {
    display: block;
  }
  .hamburger--closed {
    border-color: transparent;
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }

  }
  .ring-form {
    display: none;
  }
  .menu {
    position: fixed;
    left: 0;
    top: 80px;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    height: 100%;
    text-align: center;
    background-color: white;
    z-index: 999;
    transform: translateX(-250px);
    transition: transform 0.5s;
  }
  .menu--open {
    transform: translateX(0);
  }

  .menu__items {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

}

@media (max-width: 750px) {
  .logo {
    display: none;
  }
}
