.bg-up-and-down {
  background: url(../images/header_up_repeat.png) repeat-x;
  height: 36px;
}

.manufacture {
  min-height: 2050px;
  background: url(../images/fon1.jpg) no-repeat center #E7E8E3;
}

.manufacture-advantage {
  padding-top: 50px;
}

.manufacture-advantage__item {
  display: flex;
  margin-bottom: 70px;
}

.manufacture-advantage__img {
  min-height: 210px;
  min-width: 210px;
  border: 5px solid white;
  border-radius: 50%;
  margin-right: 30px;
}

.manufacture-advantage__img1 {
  background: url(../images/sprite_1.png);
  background-position: 0px -385px;
}

.manufacture-advantage__img2 {
  background: url(../images/sprite_1.png);
  background-position: -210px -385px;
}

.manufacture-advantage__text-header {
  font-family: $ff-main-bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.manufacture-advantage__text-main {
  line-height: 1.3rem;
}

.offers__header--second {
  margin-top: 0;
}

.slider-schemes {
  margin: 20px;
  margin-top: 50px;
}

.slider-schemes__slide img {
  padding: 0 20px;
}

.slick-track {
  margin-bottom: 20px;
}
.slick-active{

}
.slick-dots li button:before {
  font-size: 20px !important;
  color: #FFCC00 !important;
}

.offers__header--third {
  margin-top: 100px;
}

.button-call {
  display: block;
  font-size: 27px;
  font-family: $ff-main-bold;
  padding: 15px 25px;
  margin: auto;
  margin-top: 150px;
  border: none;
  border-bottom: 3px solid white;
  border-radius: 40px;
  background-color: #FEC839;
  cursor:pointer

}

.additional-works__list {
  margin-top: 55px;
  font-size: 24px;
  font-family: $ff-main-bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.additional-works__item {
  width: 217px;
  text-align: center;
  margin-bottom: 30px;
}

.additional-works__text {
  color: #fff;
  margin: 40px 0 0 0;
  text-shadow: 0 5px 10px #272727
}

@media (max-width: 937px) {
  .manufacture {
    background-image: none;
    min-height: 2050px;
  }
  .manufacture-advantage__item {
    flex-direction: column;
    text-align: center;
  }
  .manufacture-advantage__img {
    height: 210px;
    width: 210px;
    border: 5px solid white;
    border-radius: 50%;
    margin: auto;
  }
  .manufacture-advantage__text-header {
    margin-top: 20px;

  }
  .slider-schemes__slide img {
    margin: auto;
  }

}

